@media (max-width: 992px) {
    .container-fluid {
        max-width: unset;
    }
    .banner-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 44px;
    }
    .banner-wrapper h2{
        margin-top: 36px;
    }
    .time span{
        font-size: 45px;
        height: 66px;
    }
    .banner-wrapper a.btn-signup {
        margin-top: 15px;
    }
    .form-wrapper{
        padding-left: 15px;
    padding-right: 15px;
    }
    .form-des {
        margin-top: 30px;
    }
    h2.form-title{
        max-width:unset;
        font-size: 22px;
    }

    .form-areatext{
        text-align: left;
        padding-left: 12px;
    }
    .price-next, .price-pre{
        display: none;
    }

    .price-item{
        transform: scale(1);
        margin-top: 37px;
        padding: 27px;
    }

    .main-price {
        position: relative;
        left: 0; 
        transform: translate(0, 0);
        top:0;
        z-index: 1;
    }
    .main-price .price-item.main{
        transform: scale(1);
        background-image: url(../img/1x/h7.png);
    }
    .price-item.center{
        margin-top: 37px;
    }
    .section-4::after{
        display: none;
    }
    h4.section-4-text-1{
        margin-top: 63px;
    font-size: 25px;
    }
    h2.section-4-text-2{
        font-size: 38px;
    }
    h3.section-4-text-3{
        font-size: 17px;
    }
    h2.price-title{
        font-size: 32px;
    }
    p.price-text{
        font-size: 16px;
    }
    h3.price-number{
        font-size: 36px;
    }
    span.price-vnd{
        font-size: 11px;
    }
    a.price-btn{
        margin-top: 21px;
        font-size: 20px;
    }
    .price-list {
        margin-top: 9px;
    }

    h2.installment-text-1{
        font-size: 74px;
    }
    .installment-clock{
        display: none;
    }
    .installment-item.position-relative{
        width: 100%;
    }
    .why-img.position-relative {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .why-img.position-relative h1{
        display: none;
    }
    .why-text::after{
        display: none;
    }
    .setion-9-img,.setion-9-img-1 ,.setion-9-img-2 ,.setion-9-img-3 {
        display: none;
    }
    .question-wrapper {
        background: #13707deb;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        padding: 80px 6px;
    }
    .question-item {
        margin-top: 43px;
        min-height: 328px;
        padding: 53px 20px;
        background-size: 100%;
    }
    h4.question-des {
        color: #fff;
        font-size: 16px;
    }
    .question-number {
        width: 72px;
        height: 72px;
    }

    h3.question-title {
        font-size: 23px;
    }

    .method-wrapper {
        margin-top: 20px;
    }

    h2.method-text-1 {
        font-size: 39px;
    }
    h2.text-footer-2 {
        font-size: 16px;
    }
    .time-table-list{
        padding-right: 0;
    }
    h2.text-footer-3 {
        font-size: 35px;
    }
    h2.text-footer-1 {
        font-size: 24px;
    }
    .address-img {
        margin-top: 30px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1438px;
    }
}