@media (max-width: 992px) {
    .container-fluid {
        max-width: unset;
    }
    .banner-wrapper{
        padding-left:15px;
    padding-right: 15px;
    }
    .banner-wrapper h2{
        margin-top: 36px;
    }
    .time span{
        font-size: 45px;
        height: 66px;
    }
    .banner-wrapper a.btn-signup {
        margin-top: 15px;
    }

    
    
}

@media (min-width: 1200px){
    .container {
        max-width: 1438px;
    }
}