*{
    padding: 0  ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.container-fluid{
    max-width: 1920px;
}

.header {
    background-color: #F2F2F2;
    
}

.header-item {
    display: flex;
    align-items: center;
    height: 110px;
}

.header-language span {
    font-weight: 500;
    color: #18545F;
    font-size: 18px;
    letter-spacing: 2px;
}

.header-language img {
    width: 25px;
    height: 15px;
}

.header-language {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: 270px;
}

.header-logo img {
    width: 270px;
    height: 70px;
    object-fit: contain;
}


.header-social img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header-social {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-right: 69px;
}

.btn-signup {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #E65914 , #FF8000);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid white;
    outline: 5px solid #E65914;
    min-width: 307px;
    min-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    margin: 0 auto;
}

.banner-wrapper {
    padding-left: 232px;
    padding-right: 91px;
    display: flex;
    flex-direction: column;
}

.banner-wrapper h2 {
    color: #6D6E71;
    font-size: 22px;
    font-weight: 700;
    margin-top: 148px;
}

.banner-wrapper h1 {
    color: #E65914;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}


.banner-wrapper p {
    color: #6D6E71;
    font-size: 20px;
    font-style: italic;
}

.time-item {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.time-item div {
    width: 33.33%;
    text-transform: uppercase;
    color: #6D6E71;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.banner-time {
    margin-top: 27px;
}

.time span {
    display: inline-flex;
    width: 49%;
    justify-content: center;
    height: 124px;
    align-items: center;
    font-size: 87px;
    background: url(../img/1x/hinh3.png);
    background-repeat: no-repeat;
    color: white;
    background-size: contain;
    background-position: center center;
}

div.time {
    justify-content: space-between;
    width: 23%;
}

.banner-wrapper a.btn-signup {
    /* display: inline-flex; */
    align-self: center;
    margin-top: 50px;
}

.bg-banner-1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 12px;
    transform: translateY(-50%);
}

.bg-banner-2 {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    right: 80px;
    z-index: -1;
}

.section-2 {
    background-color: #F0F0F0;
    padding-top: 72px;
    padding-bottom: 24px;
    max-width: 1920px;
    margin: 0 auto;
}

.form-wrapper {
    background-color: white;
    border-radius: 32px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}

h2.form-title {
    text-transform: uppercase;
    color: #13707D;
    font-weight: 700;
    text-align: center;
    max-width: 66%;
    margin: 0 auto;
}

form.form-content {
    margin-top: 30px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
}

input.form-input {
    padding: 14px;
    font-size: 19px;
    font-weight: 500;
    color: #6D6E71;
    border: 1px solid #DFE0E4;
    height: 33.33%;
    outline: none;
    border-radius: 8px;
}

.form-item .btn-signup{
    min-height: 43px;
    cursor: pointer;
}

.form-areatext{
    height: 129px;
    border: 1px solid #DFE0E4;
    border-radius: 8px;
    text-align: center;
    font-size: 19px;
    color: #6D6E71;
    font-weight: 500;
    padding-top: 12px;
}


.form-des{
    margin-top: 45px;
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    color: #6D6E71;
}

.icon-nofity {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%,-35%);
}

.promotion-item {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 30px;
    padding: 41px;
}

span.promotion-text-1 {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    color: #13707D;
    margin: 35px 0 10px;
    font-size: 24px;
}

span.promotion-text-2 {
    color: #E65914;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 40px;
    font-weight: 600;
}

span.promotion-text-3 {
    font-size: 19px;
    color: #6D6E71;
    min-height: 121px;
}

.section-3{
    background-image: url(../img/1x/hinh15.png);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    padding-top: 114px;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.ytb-wrapper {
    display: flex;
    padding-left: 28px;
    flex-direction: column;
}

span.ytb-text-1 {
    color: #E65914;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 37px;
    line-height: 43px;
    margin: 18px 0px 2px;
}

span.ytb-text-2 {
    font-size: 22px;
    color: #6D6E71;
    font-weight: 400;
    margin: 18px 0px;
}

.box-icon {
    display: flex;
    gap: 18px;
}

.item-box-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 70%;
}
.item-icon {
    width: 15%;
    display: flex;
    align-items: self-start;
    justify-content: flex-end;
}

span.box-text-1 {
    text-transform: uppercase;
    color: #13707D;
    font-size: 23px;
    font-weight: 700;
}

span.box-text-2 {
    color: #6D6E71;
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
}

.section-3-img {
    position: absolute;
    bottom: 50px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.section-3-img-1 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-11%);
}

.section-2-img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: end;
}

.section-4{
    padding-top: 78px;
    max-width: 1920px;
    margin: 0 auto;
    background: url(../img/1x/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

h4.section-4-text-1 {
    font-weight: 300;
    font-size: 46px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h2.section-4-text-2 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}

h3.section-4-text-3 {
    color: white;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
}
.price-list{
    margin-top: 170px;
}
.price-next, .price-pre {
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.price-pre {
    right: 99%;
    left: unset;
}

.price-item {
    padding: 46px;
    background-image: url(../img/1x/h7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.85);
}
.price-item.center {
    transform: scale(1);
    margin-top: 90px;
}

h2.price-title {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 17px;
}

p.price-text {
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 31px;
    height: 225px;
}

h3.price-number {
    font-size: 43px;
    color: white;
    position: relative;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

span.price-vnd {
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translateX(-30%) translateY(-110%) rotate(90deg);
    font-size: 13px;
}


a.price-btn {
    background-image: url(../img/1x/h11.png);
   
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    min-width: 192px;
    min-height: 57px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 39px;
}


.section-4::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 94%;
    background-image: url(../img/1x/h6.png);
    transform: translateY(-50%);
}

.main-price {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 38%;
    z-index: 1;
}

.main-price .price-item.main {
    transform: scale(1.19);
    background-image: url(../img/1x/h8.png);
}


.installment-clock {
    position: absolute;
    top: 0;
    right: -85%;
}

h2.installment-text-1 {
    color: #6D6E71;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
}

.installment-item.position-relative {
    width: 57%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

h3.installment-number.position-relative {
    color: #E65914;
    font-size: 338px;
    font-weight: 700;
    line-height: 291px;
}

h3.installment-number.position-relative span {
    font-size: 180px;
    top: -20%;
    position: absolute;
    right: 4%;
}

.row.installment-wrapper {
    position: relative;
    background: #E65914;
    border-radius: 30px;
    padding: 40px 23px;
    top: -65px;
}

.installment-img {
    position: relative;
    z-index: 1;
}

h3.installment-text-2 {
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-top: 13px;
}

.installment-item-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select#installment {
    min-height: 75px;
    color: #13707D;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 12px;
    padding-left: 22px;
}

span.installment-text-3 {
    font-size: 33px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-top: 38px;
}

input.installment-input {
    min-height: 75px;
    border-radius: 12px;
    border: none;
    padding-left: 22px;
    font-size: 25px;
    margin-bottom: 38px;
    color: #6D6E71;
}

.installment-time-text {
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.installment-time {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 20px;
}

.installment-item-list {
    background: white;
    border-radius: 20px;
}

.item-cost {
    padding: 10px 17px;
}

.item-cost:not(:last-child){
    border-bottom: 1px solid #E65914;
}

h2.item-cost-text {
    font-size: 23px;
    color: #6D6E71;
}

h3.item-cost-text {
    font-size: 35px;
    font-weight: 700;
    color: #E65914;
}

.section-6 {
    margin-top: -202px;
    z-index: 0;
    padding-top: 243px;
    background: #F0F0F0;
}

.text-why h2 {
    color: #13707D;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.section-5 {
    z-index: 1;
}

.why-img.position-relative h1 {
    position: absolute;
    top: 0;
    right: 26%;
    font-size: 60px;
    color: #13707D;
}

.why-text {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.why-text::after {
    position: absolute;
    content: '';
    background: url(../img/1x/h12.png);
    background-repeat: no-repeat;
    top: 0;
    left: -26%;
    height: 100%;
    width: 100%;
    background-size: contain;
}

.why-text h2 {
    font-size: 25px;
    font-weight: 600;
    color: #6D6E71;
}

.row.why-item {
    margin: 40px 0;
}

.section-6-img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-100%, 50%);
}

.section-7.position-relative {
    background-image: url(../img/1x/pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding-bottom: 129px;
}

.section-7-text h2 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0 15px;
}

.story-pre , .story-next{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.story-item {
    background: #fff;
    border: 1px solid #13707D;
    border-radius: 45px;
    padding: 35px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.story-text {
    font-size: 21px;
    color: #6D6E71;
    font-weight: 400;
    margin: 31px 0px;
}

.story-author {
    display: flex;
    align-items: center;
}

.story-author-text h2 {
    font-size: 21px;
    color: #6D6E71;
    margin-bottom: 7px;
}

.story-author-text h3 {
    color: #13707D;
    font-size: 27px;
    font-weight: 700;
}

.story-author-text {
    margin-left: 16px;
}

.story-item.main{
    transform: scale(1);
}

.story-item.main-1 {
    transform: scale(0.9);
    position: absolute;
    bottom: -40px;
    z-index: -1;
}

.story-item.main-2 {
    transform: scale(0.8);
    position: absolute;
    bottom: -80px;
    z-index: -2;
}

.story-item.main-3 {
    transform: scale(0.7);
    position: absolute;
    bottom: -120px;
    z-index: -3;
}

.section-8 {
    background: url(../img/1x/pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 290px;
}

.method-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.method-text-1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #18545F;
    margin-bottom: 31px;
}

h3.method-text-2 {
    font-size: 23px;
    font-weight: 400;
    color: #6D6E71;
    text-align: justify;
}

.section-8 .text-why{
    margin-bottom: 65px;
}

.question-wrapper {
    background: #13707deb;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    padding: 80px 35px;
}


.question-wrapper h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}

.question-item {
    background: url(../img/1x/pi.png) no-repeat;
    margin-top: 110px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    background-size: 100% 100%;
}
.section-9.position-relative {
    margin-top: -140px;
    max-width: 1920px ;
    margin-left: auto;
    margin-right: auto;
}

.question-number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 55px;
    font-weight: 600;
    background: url(../img/1x/pi_1.png);
    display: inline-flex;
    width: 85px;
    color: white;
    height: 85px;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}

h3.question-title {
    color: #82DFE4;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

h4.question-des {
    color: #fff;
    font-size: 20px;
    text-align: justify;
    margin-top: 15px;
}

.setion-9-img {
    position: absolute;
    top: 0;
    left: 6%;
    transform: translate(50%, -50%);
}


.setion-9-img-1 {
    position: absolute;
    top: 33%;
    right: 13%;
    transform: translateX(50%);
    z-index: -1;
}

.setion-9-img-2 {
    position: absolute;
    top: 66%;
    right: 13%;
    transform: translateX(50%);
    z-index: -1;
}



.setion-9-img-3 {
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translateX(50%);
}

footer {
    background: #18434D;
    color: white;
    padding: 100px 0;
    margin-top: 20px;
}

h2.text-footer-1 {
    font-size: 33px;
    font-weight: 600;
}

.time-table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.text-footer-2 {
    font-size: 23px;
    margin: 0;
    font-weight: 400;
    line-height: 37px;
}

.time-table-list {
    padding-right: 123px;
    margin-top: 26px;
}

.time-table-item{
    margin-top: 15px;
}

.text-footer-2.thu{
    width: 21%;
}

h2.text-footer-3 {
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 700;
}